*{
	margin: 0;
	padding: 0;
}
p{
	line-height: 1.7;
}
body{
	font-family: tahoma;
}
header{
    padding: 70px 0;
}
.wrapper1{
    width: 1400px;
    margin: auto;
}
.logo{
    width: 30%;
    float: left;
}
.logo a{}
.logo a img{
}
nav{
    width: 70%;
    float: left;
}
nav ul{display: flex;
	   justify-content: flex-end;}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #838383;
    font-size: 18px;
    padding: 0 145px;
    text-transform: uppercase;
    padding-right: 0;
}
nav ul li a:hover{
	color: black;
}
.banner-section{
	padding: 50px 0;
}
.banner-section img{
	width: 100%;
	display: block;
}
.gateway-section{
    padding: 70px 0;
}
.wrapper2{
    width: 1200px;
    margin: auto;
}
.gateway-section a{
    text-decoration: none;
    text-transform: uppercase;
    color: #C2C2BB;
    padding: 25px 0;
    display: block;
}
.gateway-section h2{
    color: #626262;
    padding-bottom: 30px;
}
.gateway-section p{
    
}
.col-section{
    padding: 70px 0;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.col-1-2{
    width: 47%;
    flex-basis: 47%;
}
.col-1-2 img{
    width: 100%;
    display: block;
}
.col-1-2 a{
    color: #C2C2BB;
    text-decoration: none;
    display: block;
    padding: 25px 0;
    text-transform: uppercase;
}
.col-1-2 h2{
    color: #626262;
    padding-bottom: 30px;
}
.col-1-2 p{}
footer{
    padding: 30px 0;
    background: #F0F0F0;
}
.copyright{
    width: 30%;
    flex-basis: 30%;
}
.copyright ul{
    display: flex;
    list-style: none;
}
.copyright ul li{}
.copyright ul li a{
    text-decoration: none;
    padding: 0 20px;
    color: #3C3C3C;
    padding-left: 0;
    font-weight: 700;
    font-size: 16px;
}
.social{
    width: 70%;
    flex-basis: 70%;
    box-sizing: border-box;
    margin-right: -100px;
}
.social ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
}
.social ul li{
}
.social ul li a{
    text-decoration: none;
    padding: 0px 25px;
    color: #3C3C3C;
    font-weight: 700;
    padding-right: 0;
    font-size: 16px;
}